* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.projectTitle {
  text-align: center;
  margin: 20px 0;
}
.guestbookForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto 30 px;
  gap: 10px;
}

.guestbookForm input {
  padding: 8px;
  border: 1px solid #ccc;
}

.yourNameHere {
  text-align: center;
} 

.todaysDateHere {
  text-align: center;
}

.countryYouArePostingFromHere {
  text-align: center;
}

.writeYourMessageHere {
  text-align: center;
}

.uploadAPhotoHere {
  text-align: center;
}

.submitYourGuestbookEntry {
  align-self: center;
}

.allGuestbookEntriesContainer {
}

.entry {
  text-align: center;
}

.entry img {
  width: 100%;
}


